<web-app>  
	<servlet>
<servlet-name>demo</servlet-name>  
<servlet-class>com.lxisoft.contact.ContactServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>demo</servlet-name>  
<url-pattern>/create</url-pattern>  
</servlet-mapping>  

<servlet-mapping>  
<servlet-name>demo</servlet-name>  
<url-pattern>/read</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>demo1</servlet-name>  
<servlet-class>com.lxisoft.contact.ContactServletUpdate</servlet-class>  
</servlet>  

<servlet-mapping>  
<servlet-name>demo1</servlet-name>  
<url-pattern>/update</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>demo2</servlet-name>  
<servlet-class>com.lxisoft.contact.ContactServletDelete</servlet-class>  
</servlet> 

<servlet-mapping>  
<servlet-name>demo2</servlet-name>  
<url-pattern>/delete</url-pattern>  
</servlet-mapping>  
  
 <servlet>  
<servlet-name>demo3</servlet-name>  
<servlet-class>com.lxisoft.contact.ContactServletUpload</servlet-class>  
</servlet> 

<servlet-mapping>  
<servlet-name>demo3</servlet-name>  
<url-pattern>/upload</url-pattern>  
</servlet-mapping> 

</web-app>  