<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">
  <servlet>
      <servlet-name>AddContactServlet</servlet-name>
      <servlet-class>com.lxisoft.web.AddContactServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>AddContactServlet</servlet-name>
        <url-pattern>/AddContact</url-pattern>
    </servlet-mapping>
      <servlet>
      <servlet-name>DeleteContactServlet</servlet-name>
      <servlet-class>com.lxisoft.web.DeleteContactServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>DeleteContactServlet</servlet-name>
        <url-pattern>/DeleteContact</url-pattern>
    </servlet-mapping>
     <servlet>
      <servlet-name>SearchContactServlet</servlet-name>
      <servlet-class>com.lxisoft.web.SearchContactServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>SearchContactServlet</servlet-name>
        <url-pattern>/SearchContact</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>EditContactServlet</servlet-name>
      <servlet-class>com.lxisoft.web.EditContactServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>EditContactServlet</servlet-name>
        <url-pattern>/EditContact</url-pattern>
    </servlet-mapping>
     
</web-app>