.bgbody {
	
	position: absolute;
  	top: 25%;
  	left: 35%;
  	border: 2px solid grey;
	border-radius: 50px;
	width: 270px;
	height : 300px;
	padding: 20px 45px;
	
}
.dbody {
	
	width: 270px;
	height : 300px;
	
}

h1{
	color: white;
	font-family:arial;
	border: 2px solid grey;
	text-align: center;
	background-color: grey;
	border-radius: 50px;
	background: linear-gradient(21deg, #10abff, #1beabd);
  	width: 96%;
}
input {
	border-radius: 40px;
	text-align: center;
	cursor :text;
	padding: 10px 45px;
	border: 2px solid grey;
	
}
.cform {
	position: absolute;
  	top: 25%;
  	left: 40%;
}
.loginbutton {
	background: linear-gradient(21deg, #10abff, #1beabd);
	color : white;
	border: 2px solid grey;
	border-radius: 40px;
	text-align: center;
	cursor :pointer;
	width: 96%;
	height : 40px;
	font-weight:bold;
}
.contactbutton {
	background: linear-gradient(21deg, #10abff, #1beabd);
	color : white;
	border: 2px solid grey;
	border-radius: 100px;
	text-align: center;
	cursor :pointer;
	width: 40px;
	height : 40px;
	font-weight:bold;
	font-size: 20px;
	position: fixed;
  	bottom: 10%;
  	right: 7%;
}
table, td, th {  
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  color: grey;
  
  
}

table {
  border-collapse: collapse;
  width: 80%;
  position: absolute;
  left: 10%;
  
}

th, td {
  padding: 15px;
}
.search{
  	border-radius: 40px;
	text-align: center;
	color : grey;
	cursor :text;
	padding: 10px 45px;
	border: 2px solid black;
}
.searchb {
	background: linear-gradient(21deg, #10abff, #1beabd);
	color : white;
	border: 2px solid grey;
	border-radius: 40px;
	text-align: center;
	cursor :pointer;
	width: 40px;
	height : 40px;
	font-weight:bold;
	
}
.logb {
	background: linear-gradient(21deg, #10abff, #1beabd);
	color : white;
	border: 2px solid grey;
	border-radius: 40px;
	text-align: center;
	cursor :pointer;
	width: 40px;
	height : 40px;
	font-weight:bold;
	position: fixed;
  	bottom: 17%;
  	right: 7%;
}
.lang {
	background: linear-gradient(21deg, #10abff, #1beabd);
	color : white;
	border: 2px solid grey;
	border-radius: 40px;
	text-align: center;
	cursor :pointer;
	width: 40px;
	height : 40px;
	font-weight:bold;
	position: fixed;
  	bottom: 24%;
  	right: 7%;
}
.langa {
	background: linear-gradient(21deg, #10abff, #1beabd);
	color : white;
	border: 2px solid grey;
	border-radius: 40px;
	text-align: center;
	cursor :pointer;
	width: 40px;
	height : 40px;
	font-weight:bold;
	position: fixed;
  	bottom: 31%;
  	right: 7%;
}
.addcb{
	background: linear-gradient(21deg, #10abff, #1beabd);
	color : white;
	border: 2px solid grey;
	border-radius: 40px;
	text-align: center;
	cursor :pointer;
	width: 265px;
	height : 40px;
	font-weight:bold;
	
}

.editbl{
	background: linear-gradient(21deg, #10abff, #1beabd);
	color : white;
	border: 2px solid grey;
	border-radius: 40px;
	text-align: center;
	cursor :pointer;
	width: 30px;
	height : 30px;
	font-weight:bold;
}
.prev{
	background: linear-gradient(21deg, #10abff, #1beabd);
	color : white;
	border: 2px solid grey;
	border-radius: 40px;
	text-align: center;
	cursor :pointer;
	width: 40px;
	height : 40px;
	font-weight:bold;
	position: fixed;
  	bottom: 10%;
  	right: 80%;
  	font-weight:bold;
  	font-size: 20px;
}
.next{
	background: linear-gradient(21deg, #10abff, #1beabd);
	color : white;
	border: 2px solid grey;
	border-radius: 40px;
	text-align: center;
	cursor :pointer;
	width: 40px;
	height : 40px;
	font-weight:bold;
	position: fixed;
  	bottom: 10%;
  	right: 20%;
  	font-weight:bold;
  	font-size: 20px;
}