body {
  background-color:powderblue;
}
h1{
	background-color:Gray;
	text-align: center;
}
div{
	background-color:orange;

}
li{
	text-align: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.content {
  max-width: 500px;
  margin: auto;
  text-align=center;
  background: white;
  padding: 10px;
  
}