<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

<servlet>

	<servlet-name>ContactServlet</servlet-name>
	<servlet-class>com.lxisoft.contactapp.web.ContactServlet</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>ContactServlet</servlet-name>
	<url-pattern>/Add</url-pattern>

</servlet-mapping>

<servlet-mapping>

	<servlet-name>ContactServlet</servlet-name>
	<url-pattern>/View</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>SearchServlet</servlet-name>
	<servlet-class>com.lxisoft.contactapp.web.SearchServlet</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>SearchServlet</servlet-name>
	<url-pattern>/Search</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>DeleteServlet</servlet-name>
	<servlet-class>com.lxisoft.contactapp.web.DeleteServlet</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>DeleteServlet</servlet-name>
	<url-pattern>/Delete</url-pattern>

</servlet-mapping>


</web-app>